<ion-view title="About Us" id="page5" style="background-color:#E32929;">
  <ion-content padding="true" class="has-header">
    <h4 id="aboutUs-heading1" style="color:#FFFFFF;font-weight:600;text-align:center;">Chef Profile - Samuel Dhanasingh (Sam)</h4>
    <div>
      <img src="img/MHHySz7LQH2fhvKZmCZQ_SamProfile.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div id="aboutUs-markdown2" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Sam grew up in busy and beautiful city madurai, India. Madurai is a city where you can get fresh and tasty food 24*7. This city never sleeps and has an unique traditional indian food. He grew up cooking in his family kitchen, watching his grandmother,
        mother and relatives cook, he carried this passion for fresh authentic cooking from his city and home kitchen, through a four-year engineering degree, then a two year masters degree at Melbourne University. He began working in various restaurants
        while in college in Melbourne. Where he discovered his passion to be a professional Chef and here i am. Thanks for visiting us.!!! sam@samscurry.com
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h2 id="aboutUs-heading2" style="color:#FFFFFF;">Our Values</h2>
    <div>
      <p>
      </p>
      <ul>
        <li>Respect for People.</li>
        <li>Excellence in Hospitality.</li>
        <li>Integrity.</li>
        <li>Authenticity &amp; cultural connection.</li>
        <li>Team work.</li>
        <li>Creativity &amp; Innovation.</li>
        <li>Passion for fresh and quality food.</li>
      </ul>
      <p></p>
    </div>
    <h2 id="aboutUs-heading3" style="color:#FFFFFF;">Our Vision</h2>
    <div id="aboutUs-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Our vision is to deliver home made indian food with quality and affordability.</p>
    </div>
    <h2 id="aboutUs-heading4" style="color:#FFFFFF;">Our Mission</h2>
    <div id="aboutUs-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">At Sam's Curry, our mission is to provide our guests with the most authentic home made Indian experience outside of India.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
  </ion-content>
</ion-view>