<ion-view title="Contact Us" id="page4" style="background-color:#E32929;">
  <ion-content padding="true" class="has-header">
    <h1 id="contactUs-heading23" style="color:#FFFFFF;">Call us</h1>
    <h3 id="contactUs-heading24" style="color:#FFFFFF;text-align:center;">+61-450-434-141</h3>
    <div style="margin-right:-20px;">
      <a href="tel:+61450434141" id="contactUs-button1" style="left:-10px;font-weight:500;font-size:25px;" class="button button-calm button-full">Call Us</a>
    </div>
  </ion-content>
</ion-view>