<ion-view title="Location" id="page3" style="background-color:#E32929;">
  <ion-content padding="true" class="has-header">
    <h2 id="location-heading5" style="color:#FFFFFF;">Address</h2>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="location-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:20px;">Sams Curry</p>

      <p style="color:#FFFFFF;font-size:20px;">Grange Road</p>

      <p style="color:#FFFFFF;font-size:20px;">299, Ormond, Victoria</p>

      <p style="color:#FFFFFF;font-size:20px;">Australia 3204</p>

      <p style="color:#FFFFFF;font-size:20px;">+61-450-43-4141</p>

      <p style="color:#FFFFFF;font-size:20px;">sam@samscurry.com</p>
    </div>
  </ion-content>
</ion-view>