<ion-view title="Sam's Curry" hide-back-button="true" id="page2" style="background-color:#E32929;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/8RUTGctiTBGFmgJ0sMdg_SamsCurry.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <div id="samSCurry-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#ffff;">Dear Customers,</p>

      <p style="color:#ffff;">Food can be customized based on your need</p>

      <p style="color:#ffff;">Spice can vary from mild to hot.</p>

      <p style="color:#ffff;">Gravy style from dry,semi-gravy and gravy.</p>

      <p style="color:#ffff;">For quantity and price please contact us.</p>

      <p style="color:#ffff;">Thank You for Visiting Us.!!!</p>
    </div>
    <h3 id="samSCurry-heading6" style="color:#FFFF00;">Our traditional specialities</h3>
    <h3 id="samSCurry-heading7" style="color:#32CD32;">Vegetarian/Vegan</h3>
    <h4 id="samSCurry-heading9" style="color:#FFFFFF;">Spinach and Dal</h4>
    <div>
      <img src="img/lx2NcJxhQvKZC4SyxaTL_DalandSpinach.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Split Lentils, Dal and Spinach cooked in indian spices</p>
    </div>
    <h4 id="samSCurry-heading8" style="color:#FFFFFF;">Panner Tikka Masala</h4>
    <div>
      <img src="img/w1Pyo069T660JqiIl3Sx_PannerTikkaMasala.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Paneer (Cottage Cheese) cooked in rich indian spices and yogurt sauce.</p>
    </div>
    <h4 id="samSCurry-heading11" style="color:#FFFFFF;">Channa Masala</h4>
    <div>
      <img src="img/zSAwUwGRSOpEze65idVl_ChannaMasala.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Chic Peas cooked in traditionally based indian masala.</p>
    </div>
    <h4 id="samSCurry-heading10" style="color:#FFFFFF;">Panner Korma</h4>
    <div>
      <img src="img/KmwMsnZMSo63I3lsciDw_PaneerMasala.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Paneer (Cottage Cheese) cooked in rich indian spices, nuts and coconut</p>
    </div>
    <h4 id="samSCurry-heading12" style="color:#FFFFFF;">Chappati</h4>
    <div>
      <img src="img/83IVt0CTSSNOOTlzpO7i_01Chappati.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Indian bread made of wheat flour</p>
    </div>
    <h3 id="samSCurry-heading14" style="color:#FFFF00;">Non-Vegetarian</h3>
    <h4 id="samSCurry-heading13" style="color:#FFFFFF;">Butter Chicken Masala</h4>
    <div>
      <img src="img/9UEwIVGGSkk9MAsCujQP_ButterChickenMasala.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Diced Chicken Thigh Fillet Cooked in reach creamy sause.</p>
    </div>
    <h4 id="samSCurry-heading15" style="color:#FFFFFF;">Chicken Curry - Signature Dish</h4>
    <div>
      <img src="img/X94LyPYRKGKtQxlC0kpY_ChickenCurry.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Chicken thigh pience cooked in authentic south indian home made spices.</p>
    </div>
    <h4 id="samSCurry-heading16" style="color:#FFFFFF;">Chicken Tikka Masala</h4>
    <div>
      <img src="img/9oMJZt70SUqvlTBrUzaq_ChickenTikkaMasala.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Chicken thigh pieces cooked in rich indian spices and yogurt sauce.</p>
    </div>
    <h4 id="samSCurry-heading17" style="color:#FFFFFF;">Chilli Chicken</h4>
    <div>
      <img src="img/VB90xS1gRfmsQ69QsEma_ChilliChicken.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Crispy fried chicken pieces cooked in fusion of indian and chinese spices.</p>
    </div>
    <h4 id="samSCurry-heading18" style="color:#FFFFFF;">Chicken 65</h4>
    <div>
      <img src="img/PJ7aMpLTkCcsNdaZCeEQ_Chicken65.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Crispy friend chicken pieces maranated in authentic south indian spices.</p>
    </div>
    <h4 id="samSCurry-heading19" style="color:#FFFFFF;">Chicken Briyani</h4>
    <div>
      <img src="img/JRaE0jmGSiOpwn2CjOKS_08ChickenBriyani.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Basmathi rice cooked in exotic spices and chicken.</p>
    </div>
    <h4 id="samSCurry-heading20" style="color:#FFFFFF;">Egg Curry</h4>
    <div>
      <img src="img/HEB6H86rRxCCvStVglzI_EggCurry1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Boiled eggs cooked in traditional south indian chetinad style masala.</p>
    </div>
    <h4 id="samSCurry-heading21" style="color:#FFFFFF;">Goat Curry - Signature Dish</h4>
    <div>
      <img src="img/A7b3S1Z3RqCRjypIsKZr_GoatCurry1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Slow cooked goat pieces with rich and aromatic indian spices.</p>
    </div>
    <h4 id="samSCurry-heading22" style="color:#FFFFFF;">Tawa Fish - Signature Dish</h4>
    <div>
      <img src="img/7v7sMrEPTSSJW6kgcWVm_TawaFish.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="samSCurry-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Pan Fried Fish marinated in authentic indian spices.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div>
      <img src="img/3s0tsfiTWe93EZtkCrjZ_fotolia_136362966.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>